html, body {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

body {
    border-top: 15px solid #311A91;
    margin-top: 0;
    text-align: center;
}

img {
    height: auto;
    width: 100%;
    margin-left: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Poppins', sans-serif;
}

p, li{
    font-family: 'Sintony', sans-serif;
}

.social {
    width: 05%;
    display: inline;
}

footer{
    color: #311A91;
    border-bottom: 15px solid #311A91;
}

.project-project1{
    background-color: #b0bec5;
}

.project-project2{
    color: #311A91;
}

.project-project3{
    background-color: #b0bec5;
}

.uxinfo{
    border-bottom: 15px solid #311A91;
}

header, .intro, .proj {
    color: #311A91;
}