html, body {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

body {
    border-top: 15px solid #432BAD;
    margin-top: 0;
    text-align: center;
    min-width: 300px;
    max-width: 640-800px;
    
    
}

img {
    height: auto;
    width: 100%;
    margin-left: 0;
}

li {
    list-style-type: none;
    padding-right: 39px;
}

ul {
    padding-right: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Poppins', sans-serif;
}

p, li{
    font-family: 'Sintony', sans-serif;
}

.social {
    width: 04%;
    display: inline;
}

footer{
    color: #432BAD;
    border-bottom: 15px solid #432BAD;
    border-top: 15px solid #432BAD;
    background-color: #FFFA4E;
}

.project-project1{
    padding-bottom: 30px;
}

.project-project2{
    color: #432BAD;
    /*background-color: #FFFA4E;*/
    padding-bottom: 30px;
}

.project-project3{
    padding-bottom: 30px;
}

.uxinfo{
     padding-bottom: 75px;
}

.uxinfo, .proj {
    color: #432BAD;
}

.uxinfo h1 {
    color: #432BAD;
}

header.title {
    color: #432BAD;
    padding-top: 60px;
    /*background-color: #FFFA4E;*/
    border-bottom: 15px solid #432BAD;
    background-image: url("images/aurora.png");
    background-position: center;
}

.proj{
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    padding-bottom: 5px;
    padding-top: 5px;
}

footer h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.button:hover {
  background: #432BAD;
  background-image: -webkit-linear-gradient(top, #432BAD, #3498db);
  background-image: -moz-linear-gradient(top, #432BAD, #3498db);
  background-image: -ms-linear-gradient(top, #432BAD, #3498db);
  background-image: -o-linear-gradient(top, #432BAD, #3498db);
  background-image: linear-gradient(to bottom, #432BAD, #3498db);
  text-decoration: none;
}

    


/*.button:hover{*/
/*     background-color: #432BAD;*/
/*     color: white;*/
/*}*/

p{
    margin-left: 100px;
    margin-right: 100px;
}