html, body {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

body {
    /*border-top: 15px solid #46212A;*/
    margin-top: 0;
    text-align: center;
    min-width: 300px;
    max-width: 640-800px;
    
    
}

img {
    height: auto;
    width: 100%;
    margin-left: 0;
    max-width: 110rem;
    max-height: 55rem;
}

li {
    list-style-type: none;
    padding-right: 39px;
}

ul {
    padding-right: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

p, li{
    font-family: 'Sintony', sans-serif;
}

.social {
    font-size: 5px;
    display: inline;
    color: #969B95;
}

footer{
    color: #182628;
    /*border-bottom: 15px solid #46212A;*/
    border-top: 7px solid #57BA98;
    background-color: #65CCB8;
    background-position: center;
    padding: 0 0 15px 0;
}

.project-project1{
    padding-bottom: 128px;
}

.project-project2{
    /*background-color: #FFFA4E;*/
    padding-bottom: 128px;
}

.project-project3{
    padding-bottom: 128px;
}

.uxinfo{
     padding-bottom: 60px;
     color: #182628;
     /*text-shadow: 1px 1px #000000;*/
   /*  -webkit-text-stroke-width: .4px;*/
   /*-webkit-text-stroke-color: black;*/
    
}

.proj {
    color: #3B945E;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: -19px;
}

.proj1 {
    color: #182628;
    /*text-decoration: underline;*/
}

.uxinfo h1 {
    color: #182628;
}

header.title {
    color: #182628;
    padding: 60px 0;
    /*background-color: #FFFA4E;*/
    border-bottom: 7px solid #57BA98;
    background-color: #65CCB8;
    background-position: center;
    /*text-shadow: 1px 1px #000000;*/
   /* -webkit-text-stroke-width: .5px;*/
   /*-webkit-text-stroke-color: black;*/
    
}

h3 {
    padding-bottom: 5px;
    padding-top: 5px;
}

footer h2{
    padding-top: 10px;
    padding-bottom: 10px;
    /*text-shadow: 1px 1px #000000;*/
    color: #FFE400;
   /* -webkit-text-stroke-width: .5px;*/
   /*-webkit-text-stroke-color: black;*/
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    background: #57BA98;
    background-image: -webkit-linear-gradient(top, #182628, #182628);
    background-image: -moz-linear-gradient(top, #182628, #182628);
    background-image: -ms-linear-gradient(top, #182628, #182628);
    background-image: -o-linear-gradient(top, #182628, #182628);
    background-image: linear-gradient(to bottom, #182628, #182628);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    font-family: Sintony;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    font-weight: 600;
}

.button:hover {
  background: #65CCB8;
  /*background-image: -webkit-linear-gradient(top, #65CCB8, #182628);*/
  /*background-image: -moz-linear-gradient(top, #65CCB8, #182628);*/
  /*background-image: -ms-linear-gradient(top, #65CCB8, #182628);*/
  /*background-image: -o-linear-gradient(top, #65CCB8, #182628);*/
  /*background-image: linear-gradient(to bottom, #65CCB8, #182628);*/
  /*text-decoration: none;*/
  cursor: pointer;
}

    


/*.button:hover{*/
/*     background-color: #432BAD;*/
/*     color: white;*/
/*}*/

p{
    margin-left: 30%;
    margin-right: 30%;
}

.lang-title {
    color: #182628;
    /*text-decoration: underline;*/
}

.fa{
    display: block;
}

.fa-5x{
    font-size: 5em;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

a:hover.fa-envelope-o {
    color: #CF8563;
}

element {
    margin-bottom: none;
    margin-top: none;
}

.hearthproj{
    color: #522D2D;
}

.techused{
    font-style: italic;
    color: #B09486;
    margin-bottom: -5px;
}

.social:hover
{
        /*-webkit-transform: scale(1.3);*/
        /*-ms-transform: scale(1.3);*/
        /*transform: scale(1.3);*/
    /*    box-shadow: 0px 0px 150px #000000;*/
    /*z-index: 2;*/
    /*-webkit-transition: all 200ms ease-in;*/
    /*-webkit-transform: scale(1.5);*/
    /*-ms-transition: all 200ms ease-in;*/
    /*-ms-transform: scale(1.5);   */
    /*-moz-transition: all 200ms ease-in;*/
    /*-moz-transform: scale(1.5);*/
    /*transition: all 200ms ease-in;*/
    /*transform: scale(1.5); */
}

h2, h1 {
    color: #ffffff;
    text-decoration: none;
}

.lang {
    padding-bottom: 30px;
}

a:visited {
    color: #CF8563;
}